.profile__edit-button {
	margin-top: 37px;
	background-color: black;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.7s;
}
.profile__edit-button:hover {
	opacity: 0.6;
	transition-property: opacity;
	transition-duration: 0.7s;
}

@media (max-width: 960px) {
	.profile__edit-button {
		margin-top: 36px;
	}
}

@media (max-width: 680px) {
	.profile__edit-button {
		margin-top: 31px;
		margin-left: 10px;
		padding: 0;
	}
}


