.add-button {
	display: flex;
	width: 150px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 2px;
	box-sizing: border-box;
	background-color: #000;
	grid-area: add-button;
	
}

@media (max-width: 960px) {
	.add-button {
		width: 282px;
	}
}